{% extends 'base.htm.twig' %}




    {% block main %}
        <p>Sales</p>
        <ul>
            <li><a href="{{ path('all_sales') }}">All sales</a></li>
            <li><a href="{{ path('discounted_sales') }}">Discounted sales</a></li>
        </ul>
        <a href="{{ path('all_customers', {'param':'ascending'}) }}">All customers</a><br/>
        <a href="{{ path('all_cars') }}">All cars</a><br/>
        <a href="{{ path('all_parts') }}">All parts</a><br/>
        <a href="{{ path('view_suppliers', {'name':'local'}) }}">Local suppliers</a><br/>
        <a href="{{ path('view_suppliers', {'name':'importers'}) }}">Importer suppliers</a><br/>
        <a href="{{ path('add_customer') }}">Add customer</a><br/>
        <a href="{{ path('add_part') }}">Add part</a><br/>
        <a href="{{ path('add_car') }}">Add car</a><br/>

    {% endblock %}

