<table border="1">
    <tr>
        <th>Name</th>
        <th>Birth date</th>
        <th>Is young driver</th>
        <th colspan="3">Options</th>
    </tr>
    {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.birthDay|date("m/d/Y") }}</td>
            <td>{% if customer.isYoungDriver == 0 %}
                    false
                {% else %}
                    true
                {% endif %}</td>
            <td><a href="{{ path('view_customer', {'id': customer.id}) }}">View</a> </td>
            <td><a href="{{ path('edit_customer', {'id': customer.id}) }}">Edit</a> </td>
            <td><a href="{{ path('delete_customer', {'id': customer.id}) }}">Delete</a> </td>
        </tr>
    {% endfor %}
</table>
<a href="{{ path('index') }}">Home</a>