{{> header}}

<div id="detailsMovie">
<h1>Details</h1>
        <div class="movie">
        <h2>{{movie.title}}</h2>
        <img src="{{movie.imageUrl}}">
        <p>{{movie.description}}</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>
            {{#each movie.genres}}
                {{this}}
            {{/each}}
            </li>
        </ul>
        <p>Available Tickets: {{movie.tickets}}</p>
        <button><a href="#/buy_ticket/{{movie._id}}">Buy Ticket</a></button>
</div>
</div>

{{> footer}}